*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --equal: #3f8000;
    --numbers: #171717;
    --bg: #010101;
}

body {
    background-color: var(--bg);
    color: rgb(244, 244, 244);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
}

.screen {
    width: 95%;
    height: 28vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    margin-top: 5px;
}

#screen, #ans {
    width: 100%;
    height: 50px;
    background-color: var(--bg);
    border: none;
    color: white;
    text-align: right;
    margin-right: 16px;
    font-size: 2rem;
    letter-spacing: 2px;
}

#screen {
    position: relative;
}

#screen:focus-visible, #ans:focus-visible {
    outline: none;
}

#screen + i {
    position: absolute;
    width: 2px;
    height: 40px;
    background-color: gray;
    right: 15px;
    top: 10px;
    animation-name: blink;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 1;
}

@keyframes blink {
    from {opacity: 1;}
    to {opacity: 0;}
}

.container {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    height: 71vh;
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: var(--numbers);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 5px;
    font-weight: bold;
    cursor: pointer;
}

.equal {
    background-color: var(--equal);
}

.operator,
.brackets,
.multip,
.divide,
.percent {
    color: var(--equal);
}

.clear {
    color: #dd0000;
}

.hr {
    width: 95%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid gray;
    margin: 5px auto;
}